@charset "ISO-8859-1";

#imagebox
{
	background-image:url('/FoodBox/resources/img/home2.jpg');
	background-size:cover;
	background-position:center;
	height:100vh;
	padding:10%;
}
#container
{
	padding:10%;
}
#container input
{
	margin-bottom:1%;
}
#container form
{
	padding:2% 12%;
}
#title
{
	font-family:'Montserrat',sans-serif;
	font-weight:900;
	font-size:22px;
	color:white;
	position:absolute;
	width:100%;
	padding:2% 10%;
	text-align:center;
	
}