@charset "ISO-8859-1";

#title
{
	font-family:'Montserrat',sans-serif;
	font-size:22px;
	width:100%;
	padding:2%;
	text-align:center;
	align-content:center;
	font-weight:900;
	
}
#page2 a
{
	text-decoration:none;
	color:black;
}
